# Dependencies
/node_modules

# Expo
.expo
.expo-shared
dist
web-build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Build outputs
*.apk
*.aab
*.ipa

# Optional: ignore IDE/editor configs
.vscode
.idea

# Nếu dùng bare workflow thì KHÔNG ignore android/ios
# Nếu dùng managed workflow thì có thể ignore để repo nhẹ hơn
